 <footer class="border-top footer text-muted text-center">
    <div class="conatiner">
      Copyright &copy; Book Store @DateTime.Now.Year

      <custom-email my-email="gonelokesh@gmail.com"></custom-email>
    </div>
  </footer>
