<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] | Book Store Application</title>


  <!--EnviromentTag helper -->
  <environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
  </environment>
  <environment exclude="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  </environment>


  <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
  <partial name="_header"/>
  <main role="main">
    @RenderBody();
  </main>

  <partial name="_footer"/>
  <!--Script files-->
  <!--EnviromentTag helper -->
  <environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>

    <!--Client side validation library-->
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <!--Ajax form-->
    <script src="~/lib/jquery-ajax-unobtrusive/ajax-unobtructive.js"></script>
  </environment>

  <environment exclude="Development">
    <script src="~/lib/jquery/dist/jquery.min.js">
    </script>

    <!--Client side validation library-->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <!--Ajax from-->
    <script src="~/lib/jquery-ajax-unobtrusive/ajax-unobtructive.js"></script>
  </environment>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>

  @RenderSection("scripts", required: false)
</body>

</html>