@{
    ViewData["Title"] = "Home";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1>Welcome to BookStore @ViewData["Prop1"]</h1>
        <p class="lead text-muted">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam impedit minima distinctio repellendus,
            vel libero voluptatibus nemo fuga velit veritatis earum sint minus sequi beatae nisi nostrum ipsa corrupti
            laudantium?
        </p>

        <p>
            <a href='#' class="btn btn-primary my-2"> Search Book</a>
        </p>
    </div>
</section>
<div class="container">
        @*<h3 class="h3">Top Books</h3>*@
        <big>Top Books from big tag</big>
        <p big>Top Books from attribute</p>
    <div class="row">

        <div class="col-md-4">
           <partial name="_bookThumbnail" model="new BookModel()"/>
        </div>
        <div class="col-md-4">
           <partial name="_bookThumbnail" model="new BookModel()"/>
        </div>
        <div class="col-md-4">
            <partial name="_bookThumbnail" model="new BookModel()"/>
        </div>

    </div>
</div>

<!--@*section*@ scripts{
    <script>
    $(document).ready(function() {
        alert("document is ready");
    })
    </script>
}-->