@using BookStore.Enum;
@{
    ViewData["Title"] = "AddNewBook";
}
@model BookModel;
<div class="container">
    <h6 class="display-4">Add book</h6>
    @if (ViewBag.IsSuccess==true)
    {
         <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Congrats!</strong> You added a new book successfully.<br/> Click <a asp-controller="book" asp-action="GetBooK" asp-route-id="@ViewBag.BookId">here</a> to view the details
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
    }
    <!--Loader start-->
<div class="d-flex justify-content-center">
  <div class="spinner-border" role="status"  id="myLoader" style="display:none;" >
    <span class="sr-only">Please wait...</span>
  </div>
</div>
 <!--Loader End-->
<form method="post" asp-action="AddNewBook" asp-controller="book" data-ajax="true" data-ajax-complete="myComplete" data-ajax-success="mysuccess" data-ajax-loading="#myLoader">
  <div asp-validation-summary="All" class="text-danger"></div>

<div class="form-group">
    <label asp-for="LanguageId"></label>
    <select asp-for="LanguageId" class="form-control" asp-items="ViewBag.lanaguage" >
      <option value="">Please choose a language</option>
    </select>
    <span asp-validation-for="LanguageId" class="text-danger" ></span> 
  </div>
  <div class="form-group">
    <label asp-for="Title"></label>
    <input asp-for="Title" class="form-control" id="title" placeholder="Enter a title">
    <span asp-validation-for="Title" class="text-danger" ></span> 
  </div>
  <div class="form-group">
    <label asp-for="Author"></label>
    <input asp-for="Author" class="form-control" id="author" placeholder="Enter Author name">
    <span asp-validation-for="Author" class="text-danger"></span> 
  </div>
  <div class="form-group">
    <label asp-for="Description"></label>
    <textarea asp-for="Description" class="form-control" id="description" placeholder="Enter a description"></textarea>
    <span asp-validation-for="Description" class="text-danger"></span> 
  </div>
  <div class="form-group">
    <label asp-for="Pages"></label>
    <input asp-for="Pages" class="form-control" placeholder="Enter Total number of pages in the book">
    <span asp-validation-for="Pages" class="text-danger" ></span> 
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-primary" value="Add Book" >
  </div>
</form>
</div>

@section scripts {
  <script>
    function myComplete(data) {
      alert("Complete is complete!");
    }

    function mysuccess(data) {
      alert("success complete!");
    }
  </script>
}